//variables

//colors
$White:hsl(0,0%,100%);
$LightRay:hsl(212, 45%, 89%);
$GrayishBlue:hsl(220, 15%, 55%);
$DarkBlue:hsl(218, 44%, 22%);

//widths

$mobile:375px;
$Desktop:1440px;

//Typography
$paragraph:15px;
$outfit:'Outfit', sans-serif;
$font_bold:700;
$font_regular:400;
